{block content}
  {form cinnostSearchForm}{$form}{/form}

  <div id="pieContainer" style="display: inline-block;"></div><!--
  --><div id="lineContainer" style="display: inline-block; min-width: 575px"></div>
  
  {form cinnostForm}
    {foreach $form->getGroups() as $group}
    <fieldset>
      <legend>{$group->getOption('label')}</legend>
      <table>
        <thead>
          <tr>
      {foreach $group->getControls() as $component}
            <th>{$component->getLabel()}</th>
      {/foreach}
          </tr>
        </thead>
        <tbody>
          <tr>
      {foreach $group->getControls() as $component}
            <td>{$component->getControl()}</td>
      {/foreach}
          </tr>
        </tbody>
      </table>
    </fieldset>
    {/foreach}
  {/form}
  <br>

  <hr>

  {if (count($cinnosti) > 0)}
  <h3>Nalezené činnosti (celkem {count($cinnosti)} záznamů o délce {($sum - ($sum % 60))/60} hodin, {$sum % 60} minut)</h3>  
  <table id="cinnostiTable" class="cinnosti sortableTable pure-table pure-table-striped">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>ID</th>
        <th>Datum</th>
        <th>Akce</th>
        <th>Sekce</th>
        <th>Osoba</th>
        <th>Minut</th>
        <th>Typ činnosti</th>
        <th>Popis</th>
      </tr>
    </thead>
    <tbody>
    {foreach $cinnosti as $cinnost}
      <tr class="cinnost{$cinnost['cinnost_id']}">
        <td>
          <a n:href="Cinnost:edit $cinnost['cinnost_id']"><img title="Edituj činnost" alt="Edit" src="{$basePath}/images/edit.png" /></a>
          <a n:href="Cinnost:delete $cinnost['cinnost_id']"><img title="Smaž činnost" alt="Delete" src="{$basePath}/images/delete.png" /></a>
        </td>
        <td>{$cinnost['cinnost_id']}</td>
        <td>{substr($cinnost['datum'], 0, 10)}</td>
        <td>{$cinnost['akce']}</td>
        <td>{$cinnost['skupina']}</td>
        <td>{$cinnost['uzivatel']}</td>
        <td>{$cinnost['minuty']}</td>
        <td>{$cinnost['typ']}</td>
        <td>{$cinnost['popis']}</td>
      </tr>
    {/foreach}
    </tbody>
  </table>
  {/if}
{/block}

{block scripts}
{include #parent}

{include #datepicker}

{include #highcharts}

<script>
$(document).ready(function() {
  $("#frm-cinnostSearchForm-skupina_id").select2({
    width: '640px',
    allowClear: true,
    closeOnSelect: false
  });
  $("#frm-cinnostSearchForm-uzivatel_id").select2({
    width: '640px',
    allowClear: true,
    closeOnSelect: false
  });
  {if isset($pieData) && count($pieData) > 0}
  $('#cinnostiTable').columnHider();
  $('#pieContainer').highcharts({
      chart: {  type: 'pie',
                width: 512},
      credits: { enabled: false },
      title: { text: 'Sekce [minut]' },
      tooltip: { pointFormat: '{l}series.name{r}: {l}y{r} <b>{l}point.percentage:.1f{r}%</b>'},
      plotOptions: { pie: {  
                              allowPointSelect: true,
                              cursor: 'pointer',
                              dataLabels: { enabled: true,
                                            format: '<b>{l}point.name{r}</b>: {l}y{r} ({l}point.percentage:.1f{r}%)',
                                            style: {  color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'}
                              }
                      }},
      series: [ { name: 'Minuty',
                  data: {json_encode(array_values($pieData))|noescape}
              }]
  });
  {/if}
  {if isset($lineData) && count($lineData) > 0}
  $(document).ready( $('#lineContainer').width($('#lineContainer').parent().width() - 512) );
  $(window).resize(function() { $('#lineContainer').width($('#lineContainer').parent().width() - 512) } );
  $('#lineContainer').highcharts({
      chart: {  type: 'line',
                zoomType: 'x'},
      credits: { enabled: false },
      legend: { enabled: false },
      title: { text: 'Průběh' },
      series: [{  name: 'Minuty',
                  data: {json_encode(array_values($lineData))|noescape},
                  pointStart: {$startTimestamp} * 1000,
                  pointInterval: 24 * 3600 * 1000,
              }],
      xAxis: {  labels: { rotation: 315 },
                type: 'datetime'},
      yAxis: { title: { text: 'Minuty' } }
  });
  {/if}
});
</script>

{/block}

