{block content}

<a n:href="osoba:">Zpět na výpis osob</a><br>

{if isset( $osoba )}

<a n:href="Osoba:edit $osoba->kontaktni_osoba_id">
  Upravit osobu #{$osoba->kontaktni_osoba_id}
</a>

<h2>Osoba</h2>
<table class="osoba pure-table pure-table-striped">
  <tr><td>ID</td><td>{$osoba->kontaktni_osoba_id}</td></tr>
  <tr><td>Jméno</td>
    <td>{$osoba->titul_pred} 
        {$osoba->krestni} 
        {$osoba->prostredni} 
        {$osoba->prijmeni} 
        {$osoba->titul_za}</td>
  </tr>
  <tr><td>Pohlaví</td>
    <td>
      {if ($osoba->pohlavi)}Muž
      {else}Žena
      {/if}        
    </td>
  </tr>
  <tr><td>E-mail</td><td>{$osoba->email}</td></tr>
  <tr><td>Telefon</td><td>{$osoba->telefon}</td></tr>
  <tr><td>Mobil</td><td>{$osoba->mobil}</td></tr>
  <tr><td>ICQ</td><td>{$osoba->icq}</td></tr>
  <tr><td>Skype</td><td>{$osoba->skype}</td></tr>      
  <tr><td>Poznámka</td><td>{$osoba->poznamka}</td></tr>
  <tr><td>Pozice</td><td>{$osoba->pozice}</td></tr>
  <tr><td>Typ</td><td>{$osoba->kontaktni_osoba_typ_nazev}</td></tr>
  <tr><td>Primární</td>
    <td>
      {if ($osoba->primarni)}Ano
      {else}Ne
      {/if}
    </td>
  </tr>
  <tr><td>Kontakt pro akce typu</td>
    <td>{foreach $akce as $row}
          {$akceTypes[$row]}<br>
        {/foreach}
    </td>
  </tr>
  <tr><td>Kontakt pro školu</td>
    <td>
    {if (is_object($osoba->skola))}
      <a n:href="Skola:view $osoba->skola->skola_id">
    #{$osoba->skola->skola_id} {$osoba->skola->nazev}, 
    {$osoba->skola->mesto}, {$osoba->skola->ulice}</a>
    {/if}
    </td>
  </tr>
</table>
<h2>Kontakt pro týmy</h2>
  {if $tymy->count() == 0}
  <h3>Tato kontaktní osoba nemá přiřazeny žádné týmy.</h3>
  {else}
<table class="pure-table">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>ID</th>
      <th>Název</th>
      <th>Akce</th>
      <th>Potvrzeno</th>
    </tr>
  </thead>
  <tbody>
    {foreach $tymy as $tym}
    <tr>
      <td><a n:href="Tym:edit $tym->tym_id"><img src="{$basePath}/images/edit.png" alt="Edit" title="Upravit tým"></a></td>
      <td>{$tym->tym_id}</td>
      <td><a n:href="Tym:view $tym->tym_id">{$tym->nazev}</a></td>
      <td><a n:href="Akce:view $tym->akce_id">{$tym->akce_nazev}</a></td>
      <td>{$potvrzenoTypy[$tym->potvrzeno]}</td>
    </tr>
    {/foreach}
  </tbody>
</table>
  {/if}
{/if}

{/block}