{block content}

<a n:href="Osoba:create">Vytvořit novou osobu</a>

{form osobaSearchForm}{$form}{/form}

{if count($osoby) != 0}
<h3>Nalezené osoby (celkem {count($osoby)})</h3>  
<table id="osobyTable" class="osoby sortableTable pure-table pure-table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>&nbsp;</th>
			<th>Jméno</th>
      <th>Pohlaví</th>
			<th>E-mail</th>
			<th>Telefon</th>
			<th>Mobil</th>
			<th>Poznámka</th>
      <th>Pozice</th>
      <th>Typ</th>
      <th>Akce</th>
			<th>Primární</th>
			<th>Škola</th>      
		</tr>
	</thead>
	<tbody>

  {foreach $osoby as $osoba}
		<tr>
			<td><a n:href="Osoba:view $osoba->kontaktni_osoba_id">{$osoba->kontaktni_osoba_id}</a></td>
			<td>
        <a n:href="Osoba:View $osoba->kontaktni_osoba_id"><img title="Zobraz osobu" alt="zobrazit" src="{$basePath}/images/preview.png" /></a>
        <a n:href="Osoba:Edit $osoba->kontaktni_osoba_id"><img title="Edituj osobu" alt="edit" src="{$basePath}/images/edit.png" /></a>
      </td>
      <td><a n:href="Osoba:view $osoba->kontaktni_osoba_id">
        {$osoba->titul_pred} 
        {$osoba->krestni} 
        {$osoba->prostredni} 
        {$osoba->prijmeni} 
        {$osoba->titul_za}</a>
      </td>
      <td>
        {if ($osoba->pohlavi)}Muž
        {else}Žena
        {/if}        
      </td>
      <td>{$osoba->email}</td>
      <td>{$osoba->telefon}</td>
      <td>{$osoba->mobil}</td>
      <td>{$osoba->poznamka}</td>
      <td>{$osoba->pozice}</td>
      <td>{$osoba->kontaktni_osoba_typ_nazev}</td>
      <td>{if (isset($akce[$osoba->kontaktni_osoba_id]))}
            {foreach $akce[$osoba->kontaktni_osoba_id] as $akce} 
              {$akceTypes[$akce]}<br>
            {/foreach}
          {/if}
      </td>
      <td>
        {if ($osoba->primarni)}Ano
        {else}Ne
        {/if}
      </td>
      <td>
      {if (is_object($osoba->skola)) }
        <a n:href="Skola:view $osoba->skola->skola_id" 
          title="{$osoba->skola->nazev}">
            {$osoba->skola->nazev|truncate:80}
        </a>
      {/if}
      </td>
    </tr>
  {/foreach}
  
	</tbody>
</table>
{/if}
{/block}

{block scripts}
{include #parent}
<script type="text/javascript">
$(document).ready(function() {
	$("#frm-osobaSearchForm-osoba_typ").select2({
		width: '640px',
    allowClear: true,
    closeOnSelect: false
	});
	$("#frm-osobaSearchForm-akce_typ").select2({
		width: '640px',
    allowClear: true,
    closeOnSelect: false
	});
	$("#frm-osobaSearchForm-region").select2({
		width: '640px',
    allowClear: true,
    closeOnSelect: false
	});
  $("#osobyTable").columnHider();
});
</script>
{/block}
