{block content}

<a n:href="Osoba:">Zpět na vyhledávání osob</a>

<h2>Vytvořit novou osobu</h2>

{form osobaForm}{$form}{/form}

{/block}
{block scripts}
{include #parent}
<script type="text/javascript">
$(document).ready(function() {
	$("#frm-osobaForm-skola_id").select2({
    placeholderOption: 'first',
    width: '640px',
    allowClear: true
	});
	$("#frm-osobaForm-kontaktni_osoba_typ_id").select2({
    width: '640px',
    allowClear: true
	});
	$("#frm-osobaForm-akce_typ").select2({
		placeholder: '--- Zvolte typy akcí ---',
    width: '640px',
    allowClear: true
	});
});
</script>
{/block}
