{block content}

<a n:href="Turnaj:">Zpět na výpis turnajů</a><br>

{if isset( $turnaj )}

<a n:href="Turnaj:edit $turnaj->turnaj_id">
  Upravit turnaj #{$turnaj->turnaj_id}
</a>

<h2>Turnaj</h2>
<table class="turnaj pure-table pure-table-striped">
  <tr><td>ID</td><td>{$turnaj->turnaj_id}</td></tr>
  <tr>
    <td>Akce</td>
    <td><a n:href="akce:view $turnaj->akce_id">{$turnaj->akce_nazev}</a></td>
  </tr>
  <tr>
    <td>Úroveň</td><td>{$turnaj->uroven_nazev}</td>
  </tr>
  <tr>
    <td>Organizátor</td>
    <td><a n:href="uzivatel:view $turnaj->uzivatel_id">{$turnaj->uzivatel_krestni} 
        {$turnaj->uzivatel_prostredni} 
        {$turnaj->uzivatel_prijmeni}</a></td>
  </tr>
  <tr><td>Čas</td><td>{$turnaj->cas}</td></tr>
  <tr><td>Stav</td><td>{$stav}</td></tr>
  <tr><td>Kraj</td><td>{$turnaj->kraj_nazev}</td></tr>
  <tr>
    <td>Škola</td>
    <td><a n:href="skola:view $turnaj->skola_id">{$turnaj->skola_nazev}</a></td>
  </tr>
  <tr><td>Informace</td><td>{$turnaj->info}</td></tr>
  <tr>
    <td>Týmy (přihlášeno / max / postupujicich )</td>
    <td>
      {if isset($tymy)}
        {$tymy->count()}
      {else}
        0  
      {/if} / {$turnaj->max_tymu} / {$turnaj->postupujici}</td>
  </tr>      
</table>

  <a n:href="turnaj:vysledky $turnaj->turnaj_id">Editovat výsledky</a><br>
  {if isset($turnaj->novinka_id)}
    <a n:href="novinka:view $turnaj->novinka_id">Zobrazit novinku</a><br>
  {else}
    <form action="{link Turnaj:createreport $turnaj->turnaj_id}" method="post">
      <input type="submit" value="Vytvořit novinku">
    </form>
  {/if}
  <a n:href="galerie:view $turnaj->galerie_id">Galerie</a>

  {if isset( $tymy )}
<h2>Týmy</h2>
<table class="tymy pure-table pure-table-horizontal sortableTable">
  <thead>
    <th></th>
    <th>ID</th>
    <th>Pořadí</th>
    <th>Název</th>
    <th>Škola</th>
    <th>Potvrzeno</th>
  </thead>
  <tbody>
    {foreach $tymy as $tym}
    <tr>
      <td>
        <a n:href="tym:edit $tym->tym_id" title="Upravit tým #{$tym->tym_id}">E</a>
        &nbsp;
        <a n:href="turnaj:removetym $turnaj->turnaj_id, $tym->tym_id" title="Odebrat tým #{$tym->tym_id} ze soupisky turnaje">D</a>  
      </td>
      <td>{$tym->tym_id}</a></td>
      <td>{if isset($poradi[$tym->tym_id])}{$poradi[$tym->tym_id]}{else}Neuvedeno{/if}</a></td>
      <td><a n:href="tym:view $tym->tym_id">{$tym->nazev}</a></td>
      <td><a n:href="skola:view $tym->skola_id">{$tym->skola_nazev}</a></td>
      <td>{$tymPotvrzeni[$tym->potvrzeno]}</td>
    </tr>
    {/foreach}
  </tbody>
</table>
  {/if}

{/if}

{/block}

{block scripts}
{include #parent}
{include #checklist}
{/block}