{**
 * Admin layout template
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="SCG">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>SCG Admin{block title|striptags}{/block}</title>

  <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
  
  <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/pure.css">
  <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/pure-skin-scg.css">
  
    <link rel="stylesheet" media="all" type="text/css" href="{$basePath}/css/jsdatepick/jquery-ui-1.8.23.custom.css" media="screen" />
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/tablesorter.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/select2.css">
	<link rel="stylesheet" media="print" href="{$basePath}/css/print.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
</head>

<body class="pure-skin-scg">
	<script> document.documentElement.className+=' js' </script>
	
	{control adminMenu}

	{snippet flash}<div id="flashmessages"><div n:foreach="$flashes as $flash" class="flash flash-{$flash->type}">{$flash->message}</div></div>{/snippet}

    {control akceSelektor}
  <div class="content">
	{include #content}
  </div>
  
	{block scripts}
  <script type="text/javascript">
    var gl_base_url = '{!$basePath . "/"}';  
  </script>
  
	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/jquery.tablesorter.min.js"></script>
  <script type="text/javascript" src="{$basePath}/js/jquery-ui-1.10.4.custom.min.js"></script>
  <script type="text/javascript" src="{$basePath}/js/jquery.ui.datepicker-cs.js"></script>
  <script type="text/javascript" src="{$basePath}/js/jquery.ui.timepicker-addon.js"></script>
  <script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/select2.min.js"></script>
	<script src="{$basePath}/js/select2_locale_cs.js"></script>
	<script src="{$basePath}/js/columnHider.js"></script>
	<script src="{$basePath}/js/multiSelectManipulator.js"></script>
	<script src="{$basePath}/js/main.js"></script>
    {control akceSelektor:js}
	{/block}
</body>
</html>

{define #datepicker}
{/define}

{define #tinymce-scripts}
<script type="text/javascript" src="{$basePath}/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="{$basePath}/js/tinymce/cs.js"></script>
{/define}

{define #tinymyce-init-full}
tinymce.init({
    selector: "textarea",
    plugins: 'advlist, anchor, autolink, autoresize, autosave, charmap, code, contextmenu, directionality, fullscreen, hr, image, insertdatetime, link, lists, media, nonbreaking, noneditable, pagebreak, paste, preview, print, save, searchreplace, tabfocus, table, template, textcolor, visualblocks, visualchars, wordcount',
    toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
    toolbar2: "preview media | forecolor backcolor | code template",
    image_advtab: true,
    browser_spellcheck : true,
    width: 800,
    resize: "both"
 });
{/define}

{define #highcharts}
<script type="text/javascript" src="{$basePath}/js/highcharts/highcharts.js"></script>
<script type="text/javascript">
Highcharts.setOptions({
	global: { useUTC: false },
  lang: {
    months: ['Leden', 'Únor', 'Březen', 'Duben', 'Květen', 'Červen',  'Červenec', 'Srpen', 'Září', 'Říjen', 'Listopad', 'Prosinec'],
    shortMonths: ['Leden', 'Únor', 'Březen', 'Duben', 'Květen', 'Červen',  'Červenec', 'Srpen', 'Září', 'Říjen', 'Listopad', 'Prosinec'],
    thousandsSep: " ", 
    weekdays: ['Neděle', 'Pondělí', 'Úterý', 'Středa', 'Čtvrtek', 'Pátek', 'Sobota'],
  }
});

function generateChart( containerIn, title, seriesIn ) {
	new Highcharts.Chart({
		chart: {
			renderTo: containerIn,
			plotBackgroundColor: null,
			plotBorderWidth: null,
			plotShadow: false
		},
		xAxis: {
						type: 'datetime',
						dateTimeLabelFormats: {
							day: '%e. %B'
						}
					},
					yAxis: {
						min: 0,
						title: 'Týmů'
					}, 
		legend: {
						layout: 'vertical',
						backgroundColor: '#FFFFFF',
						align: 'left',
						verticalAlign: 'top',
						x: 100,
						y: 70,
						floating: true,
						shadow: true
					},
		title: {
			text: title,
		},
		plotOptions: {
						line: {
							dataLabels: {
							   enabled: true
							},
							pointPadding: 0.2,
							borderWidth: 0,
							marker: {
								enabled: true,
								states: {
									hover: {
										enabled: true,
										radius: 5
									}
								}
							},
						}
					},
		
		series: seriesIn
	});
}
</script>
{/define}
 
{define #highslide}
<link rel="stylesheet" type="text/css" href="{$basePath}/js/highslide/highslide.css" media="screen" />
<script type="text/javascript" src="{$basePath}/js/highslide/highslide-full.packed.js"></script>
<script type="text/javascript">

hs.graphicsDir = '{!$basePath}/js/highslide/graphics/';
hs.align = 'center';
hs.transitions = [ 'expand', 'crossfade'];
hs.outlineType = 'rounded-white';
hs.fadeInOut = true;

</script>
{/define}

{define #checklist}
<script type="text/javascript" src="{$basePath}/js/checklist.js"></script>
{/define}