{block content}

<a n:href="Cinnost:">Zpět na výpis činností</a>

{if isset($cinnost)}
<h2>Opravdu chcete smazat činnost #{$cinnost->cinnost_id}?</h2>

<table class="pure-table pure-table-striped">
  <tr><td><b>ID</b></td><td>{$cinnost->cinnost_id}</td></tr>
  <tr><td><b>Akce</td><td>{$cinnost->akce}</td></tr>
  <tr><td><b>Skupina</b></td><td>{$cinnost->skupina}</td></tr>
  <tr><td><b>Datum (RRRR-MM-DD HH:mm:ss)</b></td><td>{$cinnost->datum}</td></tr>
  <tr><td><b>Minut</b></td><td>{$cinnost->minuty}</td></tr>
  <tr><td><b>Typ činnosti</b></td><td>{$cinnost->typ}</td></tr>
  <tr><td><b>Popis</b></td><td>{$cinnost->popis}</td></tr>
</table>
<br>

{form deleteOsobaForm}{$form}{/form}

{/if}

{/block}