{block content}

<a n:href="Osoba:">Zpět na vyhledávání osob</a><br>

{if isset($id)}
<a n:href="Osoba:view $id">Zobrazit osobu #{$id}</a>

<h2>Úprava osoby #{$id}</h2>

{form osobaForm}{$form}{/form}

{/if}

{/block}
{block scripts}
{include #parent}
<script type="text/javascript">
$(document).ready(function() {
	$("#frm-osobaForm-skola_id").select2({
    width: '640px',
    allowClear: true
	});
	$("#frm-osobaForm-kontaktni_osoba_typ_id").select2({
    width: '640px',
    allowClear: true
	});
	$("#frm-osobaForm-akce_typ").select2({
		placeholder: '--- Zvolte typy akcí ---',
    width: '640px',
    allowClear: true
	});
});
</script>
{/block}
