{block #title} | Změna hesla {/block}

{block content}

<h2>Změna hesla</h2>

{control passwordForm}
{*
{form passwordForm}
<div class="password-form pure-form">
    {control $form errors}

    <div class="pair">
        {label oldPassword /}
        <div class="input">{input oldPassword}</div>
    </div>
    <div class="pair">
        {label newPassword /}
        <div class="input">{input newPassword}</div>
    </div>
    <div class="pair">
        {label confirmPassword /}
        <div class="input">{input confirmPassword}</div>
    </div>
    <div class="pair">
        <div class="input">{input set class=>pure-button-primary}</div>
    </div>
</div>
{/form}
*}