{block content}

{if isset($id)}
<a n:href="Turnaj:view $id">Zobrazit turnaj #{$id}</a>

{form turnajForm}
<?php
  echo $form;
?>
{/form}

{else}
<a n:href="Turnaj:">Zpět na vyhledávání turnajů</a>
{/if}

{/block}

{block scripts}
  {if isset($id)}
    {include #parent}
    {include #datepicker}
    <script type="text/javascript">$(document).ready(function() {
      $("#frm-turnajForm-uzivatel_id").select2({
    		placeholderOption: "first",
    		width: '100%',
            allowClear: true
    	});  
      $("#frm-turnajForm-uroven_id").select2({
    		placeholderOption: "first",
    		width: '100%',
            allowClear: true
    	});
      $("#frm-turnajForm-kraj_id").select2({
    		placeholderOption: "first",
    		width: '100%',
            allowClear: true
    	});
      $("#frm-turnajForm-skola_id").select2({
    		placeholderOption: "first",
    		minimumInputLength: 2,
        width: '100%',
            allowClear: true
    	});
      $("#frm-turnajForm").submit(function(e) {
          if ({$puvodniStav} != document.getElementById("frm-turnajForm-stav").value) {
            var send = confirm("Opravdu chcete změnit stav turnaje?");
            if (send == false)
              e.preventDefault();
          }
      });
    })
    </script>
  {/if}
{/block}

