{block content}

  {if !isset($id)}
  
    <a n:href="Turnaj:">Zpět na hledání turnajů</a>
  
  {else}
  
    <h2>Editovat výsledky turnaje #{$id}</h2>
    
    <a n:href="Turnaj:view $id">Zpět na turnaj #{$id}</a>
    
    {if isset($tymCount) && $tymCount > 0}
    
      {form vysledkyForm}
      
        <table class="turnaj pure-table pure-table-striped">
          <thead>
            <th>Pořadí</th>
            <th>Tým</th>
          </thead>
          <tbody>
        {foreach $form->getControls() as $element}
            <tr>
              <td>{$element->getControl()}</td>
              <td>{$element->getLabel()}</td>
            </tr>
        {/foreach}
          </tbody>
        </table>
      
      {/form}
    
    {/if}    
        
  {/if}
  
{/block}
