{block content}

<a n:href="Turnaj:">Zpět na vyhledávání turnajů</a>

{form turnajForm}
<?php
  echo $form;
?>
{/form}

{/block}

{block scripts}
  {include #parent}
  {include #datepicker}
  <script type="text/javascript">
    $(document).ready(function() {
      $("#frm-turnajForm-uzivatel_id").select2({
    		placeholderOption: "first",
    		width: '100%',
            allowClear: true
    	});  
      $("#frm-turnajForm-uroven_id").select2({
    		placeholderOption: "first",
    		width: '100%',
            allowClear: true
    	});
      $("#frm-turnajForm-kraj_id").select2({
    		placeholderOption: "first",
    		width: '100%',
            allowClear: true
    	});
      $("#frm-turnajForm-skola_id").select2({
    		placeholderOption: "first",
    		minimumInputLength: 2,
        width: '100%',
            allowClear: true
    	});
    })
    </script>
{/block}
