{block content}
  <a n:href="Turnaj:create">Vytvořit nový turnaj</a>
  {form turnajSearchForm}{$form}{/form}
  
  {if (count($turnaje) > 0)}  
    <h3>Nalezené turnaje (celkem {count($turnaje)})</h3>  
        
    <table id="turnajeTable" class="turnaje sortableTable pure-table pure-table-striped">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>ID</th>
          <th>Úroveň</th>
          <th>Čas</th>
          <th>Region</th>
          <th>Místo konání</th>
          <th>Pořadatel</th>
          <th>Stav</th>
          <th>Týmů</th>
          <th>Týmů max</th>
          <th>Postup</th>
          <th>Škol</th>
        </tr>
      </thead>
      <tbody>
    {foreach $turnaje as $turnaj}
        <tr>
          <td>
            <a n:href="Turnaj:View $turnaj->turnaj_id"><img title="Zobraz osobu" alt="zobrazit" src="{$basePath}/images/preview.png" /></a>
            <a n:href="Turnaj:Edit $turnaj->turnaj_id"><img title="Edituj osobu" alt="edit" src="{$basePath}/images/edit.png" /></a>
          </td>
          <td><a n:href="Turnaj:View $turnaj->turnaj_id">{$turnaj->turnaj_id}</a></td>
          <td>{$turnaj->uroven_nazev} - {$turnaj->akce_nazev}</td>
          <td>{$turnaj->cas}</td>
          <td>{$turnaj->kraj_nazev}</td>
          <td><a n:href="Skola:view $turnaj->skola_id">{$turnaj->skola_mesto} - {$turnaj->skola_nazev}</a></td>
          <td>{$turnaj->uzivatel_login}</td>
          <td>{$stavy[$turnaj->stav]}</td>
          <td>{$turnaj->related('soupiska')->count()}</td>
          <td>{$turnaj->max_tymu}</td>
          <td>{$turnaj->postupujici}</td>
          <td>{$turnaj->related('soupiska')->count('DISTINCT tym.skola_id')}</td>
        </tr>
    {/foreach}
      </tbody>
    </table>
  {/if}
{/block}

{block scripts}
{include #parent}
{include #datepicker}

<script type="text/javascript">
$(document).ready(function() {
	$("#frm-turnajSearchForm-uroven_id").select2({
		width: '640px',
    allowClear: true,
    closeOnClick: false
	});
	$("#frm-turnajSearchForm-region_id").select2({
		width: '640px',
    allowClear: true,
    closeOnClick: false
	});
	$("#frm-turnajSearchForm-stav").select2({
		width: '640px',
    allowClear: true,
    closeOnClick: false
	});
  $("#turnajeTable").columnHider();
});
</script>
{/block}
