<div class="akce_select">
    {* Vypíše flash messages dané komponenty, viz http://doc.nette.org/cs/components#toc-flash-zpravy. *}
	<div n:foreach="$flashes as $flash" class="flash flash-{$flash->type}">{$flash->message}</div>

    {control akceSelectForm}
    
</div>
