<script>

    var AkceSelektor = {
        nodiac : { 'á': 'a', 'č': 'c', 'ď': 'd', 'é': 'e', 'ě': 'e', 'í': 'i', 'ň': 'n', 'ó': 'o', 'ř': 'r', 'š': 's', 'ť': 't', 'ú': 'u', 'ů': 'u', 'ý': 'y', 'ž': 'z' },
        toLowerAscii: function (s) {
            s = s.toLowerCase();
            var s2 = '';
            for (var i=0; i < s.length; i++) {
                s2 += (typeof this.nodiac[s.charAt(i)] != 'undefined' ? this.nodiac[s.charAt(i)] : s.charAt(i));
            }
            return s2.replace(/[^a-z0-9_]+/g, '_');
        },
        getAkceTyp: function(akceName) {
            var ascii = this.toLowerAscii( akceName );
            for ( var i in this.akceTypy ) {
                if( this.akceTypy.hasOwnProperty(i) && ascii.indexOf(i) != -1 ) {
                    return i;
                }
            }
            return null;
        },
        akceTypy: {l}
        {foreach $typyAkci as $id => $typ}
            {$typ|toAscii|lower|replace:' ':'_'} : { id: {$id}, typ : {$typ} } {sep}, {/sep}
        {/foreach}
        {r},
    };

    $(document).ready(function() {
        $('.akce-selektor-select').select2({
            width: '600px',
            dropdownCssClass: "bigdrop",
            multiple: true,
            formatSelection: function(result, container, escapeMarkup) {
                var typ = AkceSelektor.getAkceTyp( result.text );
                if ( typ !== null ) {
                    return '<div class="' + typ + '">' + result.text + '</div>';
                }
                return result.text;
            },
            formatResult: function(result, container, escapeMarkup) {
                var typ = AkceSelektor.getAkceTyp( result.text );
                if ( typ !== null ) {
                    return '<div class="' + typ + '">' + result.text + '</div>';
                }
                return result.text;
            },
            sortResults: function(results, container, query) {
                return results.sort(function(a, b) {
                    if (a.text.toUpperCase() > b.text.toUpperCase() ) {
                        return 1;
                    } else if (a.text.toUpperCase() < b.text.toUpperCase() ) {
                        return -1;
                    } else {
                        return 0;
                    }
                });
            },
            query: function(opts) {
                var akce = opts.element.data('options');
                var results = { 
                    more: false, 
                    results: []
                };
                for( var i in akce ) {
                    if ( opts.matcher( opts.term, akce[i] ) ) {
                        results.results.push( { id: i, text: akce[i] } );
                    }
                }
                opts.callback( results );
            },
            initSelection : function (element, callback) {
                var data = [];
                var akce = element.data('options');
                $(element.val().split(",")).each(function () {
                    data.push( { id: this, text: akce[this]});
                });
                callback(data);
            }
        });
        
        $('.akce-selektor-select').select2("container").find("ul.select2-choices").sortable({
            containment: 'parent',
            start: function() { $('.akce-selektor-select').select2("onSortStart"); },
            update: function() { $('.akce-selektor-select').select2("onSortEnd"); }
        });
        
        $('.akce_select .flash').each(function() {
            $(this).on('click', function() { $(this).hide() } );
            $(this).delay( 1500).slideUp( 200 );
        });
    });
</script>