{**
 * My Application layout template.
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="SCG">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>SCG{block title|striptags}{/block}</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
  <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/pure.css">
  <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/pure-skin-scg.css">
	<link rel="stylesheet" media="print" href="{$basePath}/css/print.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
</head>

<body class="pure-skin-scg">
	<script> document.documentElement.className+=' js' </script>

	{snippet flash}<div id="flashmessages"><div n:foreach="$flashes as $flash" class="flash flash-{$flash->type}">{$flash->message}</div></div>{/snippet}

	{include #content}

	{block scripts}
	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	{/block}
</body>
</html>
