<div id="navcontainer">
  {if $user->isLoggedIn()}
	<ul>
    <li><a>SCG Admin</a></li>
    <li><a href="#">Osobní</a>
			<ul>
				<li><a href="{$presenter->link('Cinnost:default')}">Hodinovník</a></li>
			</ul>
		</li>

		<li><a href="#">Osoby</a>
			<ul>
				<li><a href="{$presenter->link('Osoba:default')}">Seznam kontaktních osob</a></li>
				<li><a href="{$presenter->link('Osoba:create')}">Přidat kontaktní osobu</a></li>
			</ul>
		</li>
		
		<li><a href="#">Turnaje</a>
			<ul>
				<li><a href="{$presenter->link('Turnaj:default')}">Seznam turnajů</a></li>
			</ul>
		</li>
		<li><a class="hide" href="{$presenter->link('Sign:out')}">Logout</a></li>
    <li><a class="{if $db=='scg_akce' }ico-warning">PROD{else}ico-info">DEV{/if}</a></li>
	</ul>
	{/if}
</div>
