body {
  font-size: 15px;
  line-height: 1.6;
  color: #333;
  background: white;
}

h1 {
  color: #3484D2;
}

#ajax-spinner {
  margin: 15px 0 0 15px;
  padding: 13px;
  background: white url('../images/spinner.gif') no-repeat 50% 50%;
  font-size: 0;
  z-index: 123456;
  display: none;
}

div.flash {
  color: black;
  background: #FFF9D7;
  border: 1px solid #E2C822;
  padding: 1em 1em 1em 50px;
  margin: 1em;
  border-radius: 12px;

  background-repeat: no-repeat;
  background-position: 10px center;
}

div.flash-info {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('../images/info.png');
}

div.flash-success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('../images/success.png');
}

div.flash-warning {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('../images/warning.png');
}

div.flash-error, h2.error, h1.error {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('../images/error.png');
}

h1.error, h2.error {
  color: black;
  border: 1px solid #E2C822;
  padding: 1em 1em 1em 50px;
  margin: 1em 0;
  border-radius: 12px;

  background-repeat: no-repeat;
  background-position: 10px center;
}

.ico-warning {
  background-repeat: no-repeat;
  background-position: 10px center;
  background-image: url('../images/warning.png');
  padding-left: 50px !important;
}

.ico-info {
  background-repeat: no-repeat;
  background-position: 10px center;
  background-image: url('../images/info.png');
  padding-left: 50px !important;
}

a[href^="error:"] {
  background: red;
  color: white;
}

form th, form td {
  vertical-align: top;
  font-weight: normal;
}

form th {
  text-align: right;
}

form .required label {
  font-weight: bold;
}

form .error {
  color: #D00;
  font-weight: bold;
}

html.js .jshidden {
  display: none;
}

#navcontainer {
	font-family: Verdana, sans-serif;
	font-size: 11px;
	font-weight: bold;
	width: 1280px;
	height: 60px;
	position: relative;
	z-index: 100;
}
#navcontainer ul li a, #navcontainer ul li a:visited {
	border-radius: 10px 0px 10px 0px;
	-webkit-border-radius: 10px 0px 10px 0px;
	-moz-border-radius: 10px 0px 10px 0px;
	
	display:block;
	text-decoration:none;
	width: 100px;
	padding: 7px 0 7px 7px;
	border: 1px solid #fff;
	overflow: hidden;
	color: #FFF;
	background-color: #007093;
	text-align: left;
}
#navcontainer ul {
	padding:0;
	margin:0;
	list-style: none;
}
#navcontainer ul li {
	float:left;
	position:relative;
}
#navcontainer ul li ul {
	display: none;
}

/* non-IE */
#navcontainer ul li:hover a {
	background-color: #CD007B;
	color: #FFF;
}
#navcontainer ul li:hover ul {
	display:block; 
	position:absolute; 
	top: 29px; 
	left:0; 
	width:105px;}
#navcontainer ul li:hover ul li a.hide {
	background:#6a3;
	color:#fff;
}
#navcontainer ul li:hover ul li:hover a.hide {
	background-color: #D1D100; 
	color: #007093;
}
#navcontainer ul li:hover ul li ul {
	display: none;
}
#navcontainer ul li:hover ul li a {
	display:block; 
	color: #FFF;
	background-color: #007093;
}
#navcontainer ul li:hover ul li a:hover {
	background-color: #D1D100; 
	color: #007093;
}
#navcontainer ul li:hover ul li:hover ul {
	display:block; 
	position:absolute; 
	left:105px;
	top:0;
}
#navcontainer ul li:hover ul li:hover ul.left {
	left:-105px;
}

.mailstatus_summary td {
	border: 0px;
	padding-right : 38px;
	background-image:url('../images/forward.png');
	background-repeat: no-repeat;
	background-position: right center;
  height: 38px;
}

.mailstatus_summary td.last {
	background-image:url('../images/validation.png');
}

.mailstatus_summary td.errors {
	background-image: none;	
}

.mail_list li {
	list-style-type: none;
}

.mailstatus_error td {
	background-color: red !important;
	color: white !important;
	font-weight: bold !important;
}

.mailstatus_wappr td {
	background-color: #ffcc00 !important;
}

.mailstatus_wtest td {
	background-color: white !important;
}

.mailstatus_wdate td {
	background-color: #33ff33 !important;
}

.akce_select form.pure-form {
    margin-left: 3em;
}

.akce_select form.pure-form  input.pure-button-primary {
    margin-left: 2ex;
}

.akce_select form.pure-form .prezentiada, .select2-result-label .prezentiada {
    background-color: green;
    color: white;
}

.akce_select form.pure-form .pisqworky, .select2-result-label .pisqworky {
    background-color: blue;
    color: white;
}

.akce_select form.pure-form .student_cyber_games, .select2-result-label .student_cyber_games {
    background-color: orange;
}

.akce_select form.pure-form .akademie, .select2-result-label .akademie {
    background-color: #ff0033;
    color: white;
}

.akce_select form.pure-form .prezentiada, .select2-result-label .prezentiada, 
.akce_select form.pure-form .pisqworky, .select2-result-label .pisqworky, 
.akce_select form.pure-form .student_cyber_games, .select2-result-label .student_cyber_games, 
.akce_select form.pure-form .akademie, .select2-result-label .akademie {
    font-weight: bold;
    padding: 3px 6px;
    border-radius: 3px;
}

.akce_select .flash {
    cursor: pointer;
    position: absolute;
    z-index: 1000;
    opacity: 0.7;
    margin: 0px;
    margin-left: 1em;
}

.bigdrop .select2-container .select2-results {max-height: 500px;}
.bigdrop .select2-results {max-height: 500px;}
.bigdrop .select2-choices {min-height: 150px; max-height: 250px; overflow-y: auto;}

.checklist_notDone, .checklist_done {
  font-weight: bold;
  color: black;
  border-bottom: 1px white solid;
}
.checklist_notDone td, .checklist_done td {
  padding: 3px 8px;
}
.checklist_notDone {
  background-color: red;
}
.checklist_done {
  background-color: green;
}

.multiSelectManipulator {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}