/* tables */
table.sortableTable {
/*	font-family:arial;*/
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
/*	font-size: 8pt;*/
	width: auto;
	text-align: left;
}
table.sortableTable thead tr th, table.sortableTable tfoot tr th {
	background-color: #ade1f0;
	border: 1px solid #FFF;
/*	font-size: 8pt;*/
	padding: 4px;
  padding-right: 20px !important;
}
table.sortableTable thead tr .header {
	background-image: url('../images/ts_bg.gif');
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.sortableTable tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.sortableTable tbody tr.odd td {
	background-color:#F0F0F6;
}
table.sortableTable thead tr .headerSortUp {
	background-image: url('../images/ts_asc.gif');
}
table.sortableTable thead tr .headerSortDown {
	background-image: url('../images/ts_desc.gif');
}
table.sortableTable thead tr .headerSortDown, table.sortableTable thead tr .headerSortUp {
  background-color: #8dbdd8;
}
table.sortableTable td {
  border: 0 0 0 1px;
}
table.sortableTable tr:hover td {
  background-color: #f6fe5f !important;
}